<a href="https://colab.research.google.com/github/sc2377/python_programming/blob/main/Exercise_2_(Types)_Get_the_object_type_%EC%9D%B4%EC%84%B1%EC%B2%A0_2022189117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 프로그래밍
# 이성철 2022189117

# Exercise 2 (Types): Get the object type
# 류호경 교수님 파트

# 12.0의 데이터 타입은 무엇인가?

type(12.0)

float

In [ ]:
type(12) # type 함수는 데이터 타입을 알려주는 함수, 12는 정수(integer)이므로 integer

int

In [ ]:
type(2.14) # 2.14는 실수(Real number)이므로 float

float

In [ ]:
type("Hello, Python 101!") # 문자열은 string

str

In [ ]:
type(3.0) # 3.0 은 실수

float

In [ ]:
type(-1) # -1은 음의 정수이므로 integer

int

In [ ]:
type(4) # 4는 양의 정수이므로 integer

int

In [ ]:
type(0) # 0은 정수이므로 integer

int

In [ ]:
type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [ ]:
type(0.5) # 소수점 포함이므로 float

float

In [ ]:
type(0.56) # 마찬가지로 float

float

In [ ]:
# System settings about float type
import sys
sys.float_info # float의 커버리지는 엄청나다

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
float(2) # 2는 정수이지만 실수로 만들기 위해 float 적용

2.0

In [ ]:
type(float(2)) # 2.0이므로 float으로 나오겠지?

float

In [ ]:
int(1.6) # 1.1은 실수지만 int를 적용했으므로 정수가 됨, 소수점 이하는 버림

1

In [ ]:
int('1') #"", '' 문자열의 기호, 정수가 되버림

1

In [ ]:
int('1 or 2 people') # 아무거나 넣으면 바뀌는가? 답 : 아니다

ValueError: ignored

In [ ]:
type('1.2') # ''이 있으므로 문자열(string)임

str

In [ ]:
type(float('1.2')) # float 처리하면 문자인 '1.2'가 실수인 1.2로 바뀜

float

In [ ]:
str(1) # integer를 string으로

'1'

In [ ]:
str(1.2) # float을 string으로

'1.2'

In [ ]:
# boolean은 true or false를 뜻함, true는 1, false는 0

type(True) # true의 데이터 타입은 boolean

bool

In [ ]:
type(False) #false의 데이터 타입도 boolean

NameError: ignored