<a href="https://colab.research.google.com/github/sc2377/python_programming/blob/main/Exercise_4_(Lists)_%EC%9D%B4%EC%84%B1%EC%B2%A0_2022189117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 프로그래밍
# 이성철 2022189117

# Exercise 4 (Lists)
# 류호경 교수님 파트

# Lists는 Tuples와 똑같으나 값을 바꿀 수 있음

a_list = [1, 'hello', [1, 2, 3] , True]
a_list

[1, 'hello', [1, 2, 3], True]

In [ ]:
a_list[1] # 1번 인덱스 값 확인

'hello'

In [ ]:
a_list[1:4] # 1~4번 인덱스 값 확인

['hello', [1, 2, 3], True]

In [ ]:
A = [1, 'a']  # A Lists 정의
B = [2, 1, 'd'] # B Lists 정의
A + B # A와 B를 합치기

[1, 'a', 2, 1, 'd']

In [ ]:
L = ["Michael Jackson", 10.1, 1982] # L Lists정의
L

['Michael Jackson', 10.1, 1982]

In [ ]:
type(L[2])

int

In [ ]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
#Differnece between List and Tuple is List is mutable (changeable) but not tuple

L1 = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
print("before L1[0] changed", L1)
L1[0] = "Janet"
print("after L1[0] changed", L1)

before L1[0] changed ['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]
after L1[0] changed ['Janet', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
Tuple1=("Michael Jackson", 10.1, 1982)
Tuple1
Tuple1[0]="Janet" # 튜플은 값을 바꿀 수 없음

TypeError: ignored

In [ ]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
L[3:5]

['MJ', 1]

In [ ]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10]) #['pop', 10] --> list 확대
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
L[3]

10

In [ ]:
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10]) #['pop', 10]
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
L[2][0] # 2의 첫 번째

'pop'

In [ ]:
A = ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
print('Before change:', A)
del(A[0]) # 지우기
print('After change:', A)

Before change: ['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]
After change: [10.2, 'pop', 10, ['a', 'b']]

In [ ]:
A = ['Michael Jackson', 10.2, 'pop', 10]
A

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
# Split the string, default is by space
what='hard rock'.split()
print(what)
type(what)
what[1]

['hard', 'rock']

'rock'

In [ ]:
from re import split
# Split the string by comma

Split_string_comma='A,B,C,D'.split(',')
Split_string_comma
type(Split_string_comma)
Split_string_comma[0]

'A'

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A # B = A (같은 곳을 가리킨다 not equal to 같은 값을 두개 따로 가지는 것은 아니다) -->B에게 알려준다.. 너는 인제 A에서 찾아야 해...B = A (assign)


A[0] = "R&B"

print('A:', A) #R&B, 10, 1.2
print('B:', B) #'hard rock, 10, 1.2

A: ['R&B', 10, 1.2]
B: ['R&B', 10, 1.2]

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: R&B
B[0]: banana

In [ ]:
# Clone (clone by value) the list A
A = ["hard rock", 10, 1.2]
B = A[:] #A[:]
print(A)
print(B)
A[0] ='R&B'
print(A)
print(B)
#A[0] = "Banana"
#print(B)
#print(A)

['hard rock', 10, 1.2]
['hard rock', 10, 1.2]
['R&B', 10, 1.2]
['hard rock', 10, 1.2]