<a href="https://colab.research.google.com/github/sc2377/python_programming/blob/main/Midterm_exam_%EC%9D%B4%EC%84%B1%EC%B2%A0_2022189117.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이썬 프로그래밍
# 이성철 2022189117

# Midterm exam
# 류호경 교수님 파트

In [140]:
# 1. 키와 몸무게를 입력하면 BMI를 계산하는 프로그램 작성 (반복문을 사용해서 계속 몸무게/키 입력, 종료는 -1000 입력)

while True:
  weight = float(input("몸무게(kg) 입력 ")) # 몸무게 입력받기
  
  if weight == -1000:
    print("-1000 입력 시 종료")
    break
    
  height = float(input("키(cm) 입력 ")) # 키 입력받기
  
  if height == -1000:
    print("-1000 입력 시 종료")
    break

  bmi = weight / ( ( height / 100 ) * ( height / 100 ) ) # bmi = 몸무게(kg) / 키(m)^2

  print("")
  print("---------- 결과 ----------")
  print("몸무게 =",weight,"kg")
  print("키 =",height,"cm")
  print("BMI =",round(bmi,2))
  print("--- -1000 입력 시 종료 ---")
  print("")

몸무게(kg) 입력 70
키(cm) 입력 177

---------- 결과 ----------
몸무게 = 70.0 kg
키 = 177.0 cm
BMI = 22.34
--- -1000 입력 시 종료 ---

몸무게(kg) 입력 70.5
키(cm) 입력 177.5

---------- 결과 ----------
몸무게 = 70.5 kg
키 = 177.5 cm
BMI = 22.38
--- -1000 입력 시 종료 ---

몸무게(kg) 입력 2000
키(cm) 입력 3000

---------- 결과 ----------
몸무게 = 2000.0 kg
키 = 3000.0 cm
BMI = 2.22
--- -1000 입력 시 종료 ---

몸무게(kg) 입력 52
키(cm) 입력 172

---------- 결과 ----------
몸무게 = 52.0 kg
키 = 172.0 cm
BMI = 17.58
--- -1000 입력 시 종료 ---

몸무게(kg) 입력 -1000
-1000 입력 시 종료

In [141]:
# 2. 숫자 2개를 입력받아서 큰 수와 작은 수를 차례대로 출력 (반복문을 사용해서 계속 숫자 입력받음. 종료는 0을 두번 입력)

while True:
  num1 = float(input("숫자1 ")) # 숫자1 입력받기
  num2 = float(input("숫자2 ")) # 숫자2 입력받기
  
  if num1 == 0 and num2 == 0:
    print("모두 0이면 종료")
    break
    
  if num1 > num2:
    print("")
    print("--------------")
    print("큰 수 =",num1)
    print("작은 수 =",num2)
    print("--------------")
    print("")
    
  else:
    print("")
    print("--------------")
    print("큰 수 =",num2)
    print("작은 수 =",num1)
    print("--------------")
    print("")

숫자1 1
숫자2 2

--------------
큰 수 = 2.0
작은 수 = 1.0
--------------

숫자1 1.5
숫자2 3.7

--------------
큰 수 = 3.7
작은 수 = 1.5
--------------

숫자1 3.7
숫자2 1.5

--------------
큰 수 = 3.7
작은 수 = 1.5
--------------

숫자1 0
숫자2 0
모두 0이면 종료

In [358]:
# 3. 학생 10명의 이름과 점수를 입력받아 등수를 계산, 출력 시에는 이름과 점수를 등수 순서대로 출력

students = [] # List 생성

for i in range(10):
  print("10번 반복 중",i+1,"번째")

  name = input("이름 ")
  type(name)

  if name == "exit":
    print("Exit 입력 시 종료")
    break

  score = float(input("점수 "))
  if score < 0:
    print("점수에 음수 입력 시 종료")
    break

  elif score > 100:
      print("점수가 100보다 크면 종료")
      break

  students.append((name,score))

# 점수 기준 내림차순 정렬
students.sort(key=lambda x: x[1], reverse=True)

10번 반복 중 1 번째
이름 이성철
점수 100
10번 반복 중 2 번째
이름 만점
점수 100
10번 반복 중 3 번째
이름 하나틀린애
점수 95
10번 반복 중 4 번째
이름 두개틀린애
점수 90
10번 반복 중 5 번째
이름 공부잘하는애
점수 95
10번 반복 중 6 번째
이름 공부대충한애
점수 60
10번 반복 중 7 번째
이름 공부못하는애
점수 40
10번 반복 중 8 번째
이름 공부대충하고잘찍은애
점수 75
10번 반복 중 9 번째
이름 벼락치기한애
점수 85
10번 반복 중 10 번째
이름 머리좋은애
점수 90

In [361]:
# 등수대로 출력, 동점처리 없음
print("--- 등수대로 출력 ---")
print("--- 동점처리 없음 ---")

sum_score = 0

for i in range(len(students)):
  rank = i + 1  
  print(rank,"등 ",students[i])
  sum_score = sum_score + students[i][1]
  
avg_score = float( sum_score / 10 )

print("평균점수 ", avg_score)
print("--- 출력 완료 ---")

--- 등수대로 출력 ---
--- 동점처리 없음 ---
1 등  ('이성철', 100.0)
2 등  ('만점', 100.0)
3 등  ('하나틀린애', 95.0)
4 등  ('공부잘하는애', 95.0)
5 등  ('두개틀린애', 90.0)
6 등  ('머리좋은애', 90.0)
7 등  ('벼락치기한애', 85.0)
8 등  ('공부대충하고잘찍은애', 75.0)
9 등  ('공부대충한애', 60.0)
10 등  ('공부못하는애', 40.0)
평균점수  83.0
--- 출력 완료 ---

In [362]:
# 등수대로 출력, 동점처리 있음
print("--- 등수대로 출력 ---")
print("--- 동점처리 추가 ---")

sum_score = 0

for i in range(len(students)):

  prev_score = students[i-1][1]

  if students[i][1] == prev_score:
    print(rank,"등 ",students[i])

  else:
    rank = i + 1  
    print(rank,"등 ",students[i])    
  
  sum_score = sum_score + students[i][1]
  
avg_score = float( sum_score / 10 )

print("평균점수 ", avg_score)
print("--- 출력 완료 ---")

--- 등수대로 출력 ---
--- 동점처리 추가 ---
1 등  ('이성철', 100.0)
1 등  ('만점', 100.0)
3 등  ('하나틀린애', 95.0)
3 등  ('공부잘하는애', 95.0)
5 등  ('두개틀린애', 90.0)
5 등  ('머리좋은애', 90.0)
7 등  ('벼락치기한애', 85.0)
8 등  ('공부대충하고잘찍은애', 75.0)
9 등  ('공부대충한애', 60.0)
10 등  ('공부못하는애', 40.0)
평균점수  83.0
--- 출력 완료 ---